header{
    text-align:center;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

main{
    border: solid 3px red;
    text-align:center;
    padding: 2rem;
    width:60%;
    margin: 0 auto;
}

#btn-category{
    display:flex;
    align-items:center;
    justify-content: center;
    gap: 1rem;
}

button{
    background-color: red;
    color:white;
    padding:1rem;
    border:0;
    border-radius:3px;
    max-width:100%;
    min-width:200px;
}
button:hover{
    background-color: rgb(153, 12, 12);
    color:white;
    padding:1rem;
    border:0;
    max-width:100%;
    min-width:200px;
}